@debug "color styles loaded";

$base-bg-col: rgb(231, 228, 228);
$top-menu-bg-col: rgb(84, 126, 120);

$text-col-white: white;

$btn-bg-col-green: rgb(65, 150, 65);

$http-card-success: rgb(74, 146, 74);
$http-card-url-error: rgb(32, 101, 206);
$http-card-invalid: rgb(224, 120, 35);
$http-card-error: rgb(221, 66, 66);

$view-btn-col: rgb(3, 128, 211);