@debug "fonts styles loaded";

$font-family: Inter var, sans-serif;

$font-size-icon: 1.2rem;

// for normal screen widths
$font-size-header: 1.5rem;
$font-size-header-2: 1.2rem;
$font-size-normal: 1rem;

// for tablet screen width, 425px
$font-size-header-tablet: 1.2rem;
$font-size-header-tablet-2: 1rem;
$font-size-normal-tablet: 0.9rem;

// for mobile screen width, 425px
$font-size-header-mobile: 1.2rem;
$font-size-header-mobile-2: 0.9rem;
$font-size-normal-mobile: 0.8rem;
