.top-menu {    
    padding: $padding-2 $padding-4;

    background-color: $top-menu-bg-col;   

    &_header {
        position: relative;
        flex-grow: 1;
    }

    &_header-text {                     
          
        @media (max-width: 768px) and (min-width: 425px) {
            $font-size-header: $font-size-header-tablet;
            font-size: $font-size-header;
        } 

        color: $text-col-white;
        font-size: $font-size-header;
        display: inline-block;        

        @media (max-width: 425px) {
            $font-size-header: $font-size-header-mobile;
            font-size: $font-size-header;
        }  
    }

    &_header-refresh-btn {
        padding: $padding-1 $padding-2;
        color: $text-col-white;
        background-color: $btn-bg-col-green;
        border: none;

        position: absolute;        
        right: 0;
        top: 50%;
        transform: translateY(-50%);        

        pointer-events: initial;

    }

    .p-toggleable-content {
        display: none;
    }
}