.top-menu {    
    padding: $padding-2;

    background-color: $top-menu-bg-col;   

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        flex-grow: 1;
    }

    .p-panel-icons {
        display: none;
    }

    &_header-accordion-btn {
        background: none;
        margin-bottom: 3px;
    }

    .p-toggleable-content {
        transition: height 1s;
        height: auto !important;
        overflow: hidden;
    }

    &_header-text {                               
        @media (max-width: map-get($breakpoints,"xxl")) and (min-width: map-get($breakpoints,"sm")) {
            $font-size-header: $font-size-header-tablet;
            font-size: $font-size-header;
        } 

        color: $text-col-white;
        font-size: $font-size-header;
        display: inline-block;        

        @media (max-width: map-get($breakpoints,"sm")) {
            $font-size-header: $font-size-header-mobile;
            font-size: $font-size-header;
            width: 80%;
        }  
    }

    &_header-refresh-btn {
        padding: $padding-1 $padding-2;
        color: $text-col-white;
        background-color: $btn-bg-col-green;
        border: none;

        pointer-events: initial;

        &--show-text {
            display: inline-block;
            @media (max-width: map-get($breakpoints,"md")) {
                display: none;
            }            
        }
        &--show-icon {
            display: none;
            @media (max-width: map-get($breakpoints,"md")) {
                display: inline-block;
            }
        }

    }

    &_system-info-con {
        display: flex;
        justify-content: space-between;
        gap: 1;
        padding: $padding-1;    
        margin-top: map-get($margins,"m1");

        @media (max-width: map-get($breakpoints,"sm")) {
            flex-wrap: wrap;
        }
    }
    
    &_system-info {
        color: white;
        margin-right: 5px;
        font-size: $font-size-normal;

        @media (max-width: map-get($breakpoints,"sm")) {
            min-width: 40%;
            margin-top: 5px;
        }
    }

}

.top-menu-component {
    position: sticky;
    top: 0;
    z-index: 2;
}