<div class="top-menu override-panel">
    <p-panel [collapsed]="isDropdownOpened">
        <ng-template pTemplate="header">
            <div class="top-menu_header">
                <!-- header text and dropdown button -->
                <div class="top-menu_header-text">
                    @if(isPanelToggleable) {
                        <button
                            pButton
                            pRipple
                            class="top-menu_header-accordion-btn"
                            (click)="onDropDownToggleClick()"
                            title="Refresh">
                                @if(isDropdownOpened) {
                                    <i class="pi pi-chevron-circle-up"></i>                            
                                } @else {
                                    <i class="pi pi-chevron-circle-down"></i>                            
                                }
                        </button>
                    }
                    System Monitoring Dashboard
                </div>             

                @if(!isPanelToggleable) {
                    <!-- system info -->
                   <div class="top-menu_system-info-con">
                        <div class="top-menu_system-info">
                            <i class="pi pi-server"></i>
                            System: {{pSystemStatus}}                      
                        </div>

                        <div class="top-menu_system-info">
                            <i class="pi pi-database"></i>
                            DB: {{pSystemDatabase ?? "***No database configured***"}}
                        </div>

                        <div class="top-menu_system-info">
                            <i class="pi pi-save"></i>
                            Disk Space: {{pSystemDiskSpace}} GB
                        </div>

                        <div class="top-menu_system-info">
                            <i class="pi pi-microchip-ai"></i>
                            Processors: {{pProcessorCount}}  
                        </div>

                        <div class="top-menu_system-info">
                            <i class="pi pi-clock"></i>
                            Up Time: {{pSystemUpTime}}
                        </div>
                    </div>
                }

                <!-- refresh button -->
                <button
                    pButton
                    pRipple
                    class="top-menu_header-refresh-btn"
                    title="Refresh"
                    (click)="onRefreshClick()">
                    <span class="top-menu_header-refresh-btn--show-text">
                        Refresh
                    </span>
                    <span class="top-menu_header-refresh-btn--show-icon">
                        <i class="pi pi-refresh"></i>                            
                    </span>
                </button>
            </div>
        </ng-template>        
        <!-- class="top-menu_content" [ngClass]="{'top-menu_content--show': isDropdownOpened}" -->
        @if(isDropdownOpened) {
            <div class="top-menu_system-info-con">
                <div class="top-menu_system-info">
                    <i class="pi pi-server"></i>
                    System: {{pSystemStatus}}  
                </div>

                <div class="top-menu_system-info">
                    <i class="pi pi-database"></i>
                    DB: {{pSystemDatabase ?? "***No database configured***"}}
                </div>

                <div class="top-menu_system-info">
                    <i class="pi pi-save"></i>
                    Disk Space: {{pSystemDiskSpace}} GB
                </div>

                <div class="top-menu_system-info">
                    <i class="pi pi-microchip-ai"></i>
                    Processors: {{pProcessorCount}}                                        
                </div>

                <div class="top-menu_system-info">
                    <i class="pi pi-clock"></i>
                    Up Time: {{pSystemUpTime}}
                </div>
            </div>
        }
    </p-panel>
</div>
