@import "base";
@import "components";
@import "layouts";
@import "pages";
@import "themes";  

.main-con {
    padding: 5px;
    
    &_cards {
        display: block;
        margin: auto;
        width: 75%;
    }

    &_charts {
        display: block;
        margin: auto;
        width: 90%;
        margin-top: 20px;
    }

    @media (max-width: map-get($breakpoints, "sm")) {
        width: 100%;
    }

}