<div class="vh-100 base-bg">
  <!-- top menu -->
  <app-top-menu>
  </app-top-menu>

  <div class="main-con">
    <div class="main-con_cards">
      <!-- http status cards con -->
      <app-http-status-cards-con>    
      </app-http-status-cards-con>
    </div>

    <!-- http charts -->
    <div class="main-con_charts">
      <div class="charts-con">
        <!-- bar chart -->
        <div class="charts">
          @if(canDisplay) {
            <!-- http charts con -->
            <app-http-charts-con
              [pChartType]="'bar'">        
            </app-http-charts-con>
          }
        </div>
  
        <!-- pie chart -->
        <div class="charts">
          @if(canDisplay) {
            <!-- http charts con -->
            <app-http-charts-con
              [pChartType]="'pie'">        
            </app-http-charts-con>
          }
        </div>
      </div>
    </div>

  </div>


</div>