<div class="vh-100 base-bg">
  <!-- top menu -->
  <app-top-menu
    [pSystemStatus]="systemStatus"
    [pSystemDatabase]="systemDatabase"
    [pSystemDiskSpace]="systemDiskSpace" 
    [pProcessorCount]="processorCount"
    [pSystemUpTime]="systemUpTime"
    class="top-menu-component"
    (onRefresh)="onTopMenuRefresh()">
  </app-top-menu>

  <div class="main-con">
    <div class="main-con_cards">
      <!-- http status cards con -->
      <app-http-status-cards-con
        [pLast100Info]="last100HttpRequests">    
      </app-http-status-cards-con>
    </div>

    <!-- http charts -->
    <div class="main-con_charts">
      <div class="charts-con">
        <!-- bar chart -->
        @if(canDisplay) {
          <!-- http charts con -->
          <app-http-charts-con
            [pChartType]="'bar'"
            [pData]="last100HttpRequests"
            class="charts">        
          </app-http-charts-con>
        }
  
        <!-- pie chart -->
        @if(canDisplay) {
          <!-- http charts con -->
          <app-http-charts-con
            [pChartType]="'pie'"
            [pData]="last100HttpRequests"
            class="charts">        
          </app-http-charts-con>
        }
      </div>
    </div>

    <!-- http request list -->
    <div class="main-con_request-list">
      <!-- http request list con -->
      <app-http-request-list-con
        [pData]="last100HttpRequests"
        [pTotalHeight]="totalHeight">        
      </app-http-request-list-con>
    </div>

  </div>


</div>