<div class="http-cards">
  
  <!-- 200, success -->
  <ng-container *ngTemplateOutlet="cardTemplate; 
    context: { $implicit: 200 }" >
  </ng-container>

  <!-- 404, page not found -->
  <ng-container *ngTemplateOutlet="cardTemplate; 
    context: { $implicit: 404 }" >
  </ng-container>

  <!-- 400, invalid request -->
  <ng-container *ngTemplateOutlet="cardTemplate; 
    context: { $implicit: 400 }" >
  </ng-container>

  <!-- 500, server error -->
  <ng-container *ngTemplateOutlet="cardTemplate; 
    context: { $implicit: 500 }" >
  </ng-container>

</div>


<ng-template #cardTemplate let-status>
  <div class="http-cards_card"
    [ngClass]="{
      'http-cards_card--success': status == 200,
      'http-cards_card--url-error': status == 404,
      'http-cards_card--invalid': status == 400,
      'http-cards_card--error': status == 500,
    }">
    <div class="http-cards_status-con">
      <span>        
        <div [ngSwitch]="status">
          <i class="http-cards_status-icon pi pi-check-circle" *ngSwitchCase="200"></i>
          <i class="http-cards_status-icon pi pi-ban" *ngSwitchCase="404"></i>
          <i class="http-cards_status-icon pi pi-info-circle" *ngSwitchCase="400"></i>
          <img src="assets/images/svg-icons/bug-icon.svg" *ngSwitchCase="500">
          {{status}}
          Response
        </div>        
      </span>
      <div class="http-cards_status-count">
        {{requestInfo?.["Status"+status]?.count ?? 0}}
      </div>
    </div>

    <div class="http-cards_update-time">
      Updated: {{requestInfo?.["Status"+status]?.lastUpd ?? ""}}
    </div>
  </div>
</ng-template>